.b-aboutMe {
  padding: 0 90px;
  position: relative;
}
.b-aboutMeText {

  padding: 95px 0;

  &__title {
    color:  #171717;
    font-size: 38px;
    text-align: center;
    margin: 0 auto 30px;
  }

  &__desc {
    font-family: 'Nunitosans', sans-serif;
    color:  #787878;
    font-size: 18px;
    text-align: center;
    max-width: 576px;
    margin: auto;
  }
}