.b-footer {
  padding: 100px 90px;
  background-color: #141414;
  color: #bcbcbc;
  font-family: 'NunitoSans', sans-serif;
  &__link {
    color:  #bcbcbc;
    font-size: 15px;
    font-weight: 400;
    &:hover {
      color: #10c9c3;;
      text-decoration: none;
    }
    margin-bottom: 5px;
  }

  @include media-breakpoint-down(sm) {
    padding: 60px 20px;
  }
}
.b-footerFooterCopyrights {
  &__title {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 26px;
  }

  &__text {
    max-width: 240px;
  }

  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    &__text {
      max-width: none;
    }
  }
}
.b-footerFooterContacts {
  display: flex;
  justify-content: center;
  padding-left: 0;
  @include media-breakpoint-down(sm) {
    padding: 0 15px;
    text-align: center;
    margin-bottom: 30px;
    &__text {
      margin: auto;
    }
  }
}
.b-footerFooterMenu {
  &__list {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-down(sm) {
      align-items: center;
    }
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }
}
.b-footerFooterSocials {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &__list {
    display: flex;
    flex-direction: column;
    width: fit-content;
    @include media-breakpoint-down(sm) {
      flex-direction: row;

      a {
        margin: 0 10px 0;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    align-items: center;
    margin-top: 20px;
  }
}