.b-productsGridUnit{

  &:nth-child(2n) {
    .b-productsGridUnit__item{
      background-color: #dddddd;
    }
  }

  @include media-breakpoint-up(lg) {
    &:nth-child(n+5) {
      .b-productsGridUnit__item {
        margin-top: 30px;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &:nth-child(n+4) {
      .b-productsGridUnit__item {
        margin-top: 30px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &:nth-child(n+3) {
      .b-productsGridUnit__item {
        margin-top: 30px;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    &:nth-child(n+2) {
      .b-productsGridUnit__item {
        margin-top: 30px;
      }
    }
  }

  &__item {
    position: relative;
    height: 285px;
    background-color: #838383;
    overflow: hidden;
    transition: .5s;

    &_hover {
      position: absolute;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../images/look.png") no-repeat center, rgba(16, 201, 195, 0.85);
      transition: .5s;
    }

    &:hover {
      .b-productsGridUnit__item_hover {
        top:0;
      }
    }
  }
}