.b-productsGridUnit{

  &:nth-child(2n) {
    .b-productsGridUnit__item{
      background-color: #dddddd;
    }
  }

  @include media-breakpoint-up(lg) {
    &:nth-child(n+5) {
      .b-productsGridUnit__item {
        margin-top: 30px;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &:nth-child(n+4) {
      .b-productsGridUnit__item {
        margin-top: 30px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &:nth-child(n+3) {
      .b-productsGridUnit__item {
        margin-top: 30px;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    &:nth-child(n+2) {
      .b-productsGridUnit__item {
        margin-top: 30px;
      }
    }
  }

  &__item {
    position: relative;
    height: 285px;
    //background-color: #838383;
    overflow: hidden;
    transition: .5s;

    &_1{
      background: url("../images/1.jpg");
      background-size: cover;
    }
    &_2{
      background: url("../images/2.jpg");
      background-size: cover;
    }
    &_3{
      background: url("../images/3.jpg");
      background-size: cover;
    }
    &_4{
      background: url("../images/4.jpg");
      background-size: cover;
    }
    &_5{
      background: url("../images/5.jpg");
      background-size: cover;
    }
    &_6{
      background: url("../images/6.jpg");
      background-size: cover;
    }
    &_7{
      background: url("../images/7.jpg");
      background-size: cover;
    }
    &_8{
      background: url("../images/8.jpg");
      background-size: cover;
    }
    &_9{
      background: url("../images/9.jpg");
      background-size: cover;
    }
    &_10{
      background: url("../images/10.jpg");
      background-size: cover;
    }
    &_11{
      background: url("../images/11.jpg");
      background-size: cover;
    }
    &_12{
      background: url("../images/12.jpg");
      background-size: cover;
    }

    &_hover {
      position: absolute;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../images/look.png") no-repeat center, rgba(16, 201, 195, 0.85);
      transition: .5s;
    }

    &:hover {
      .b-productsGridUnit__item_hover {
        top:0;
      }
    }

    @include media-breakpoint-down(sm) {
      height: 400px;
    }
  }
}